.contato_container {
  width: 450px;
  margin: 0 auto;
  padding: 3em;
  
}

/* Responsivo para mobile */
@media (max-width: 600px) {
  .contato_container {
    width: 90%;
    padding: 2em;
  }

  .contato_container h1,
  .contato_container p {
    text-align: center;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}

.contato_container h1 {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.contato_container p {
  color: #7b7b7b;
  margin-bottom: 2em;
}

/* Formulário igual ao NewProject */
.form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form_group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form_group label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Inputs e textarea */
.form_group input,
.form_group textarea,
.form_group select {
  padding: 1.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

/* Botão */
.btn {
  background-color: #222;
  color: #fff;
  padding: 0.7em 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
}

.btn:hover {
  color: #ffbb33;
}
